
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'منظومة الماموريات بالخارج '" [headerContent]="''">
        <div class="row" >
          <div class="col-sm-12 col-xl-12">

            <h4 class="sub-title text-right">منظومة الماموريات بالخارج </h4>
            <dl class="dl-horizontal row" >
                <dd class="col-sm-9 text-right"> مكن المنظومة المستعمل داخل الإدارة من التحكم عن طريق الشبكة في كامل المراحل المتعلقة بالإجراءات الخاصة بالقيام بالمأموريات.
                 
    </dd>
    <dt class="col-sm-3 text-right">التعريف بمنظومة رشاد</dt>
  
              </dl>
            <dl class="dl-horizontal row" >
              <dd class="col-sm-9 text-right"> إدخال المعطيات الخاصة بالإعتمادات المرصودة للقيام بالماموريات
                  إدخال وطباعة المعطيات الخاصة بالإذن بالمامورية وبطاقة التجميد وطلب تسبقة
                  المصادقة على بطاقة تجميد الإعتمادات
                  المصادقة على الإذن بالمامورية بعد تاشيرها من وزير الإشراف
                  إسناد التسبقة
                  المصادقة على المصاريف الإضافية
                  المتابعة المالية والفنية للماموريات
                  جداول إحصائية والمساعدة على إتخاذ القرار
  </dd>
  <dt class="col-sm-3 text-right">الوظـائـف</dt>

            </dl>
          
          </div>
        </div>
   